[submodule "superpowers"]
	path = superpowers
	url = https://github.com/obra/superpowers.git
[submodule "academic-research-skills"]
	path = academic-research-skills
	url = https://github.com/Imbad0202/academic-research-skills.git
[submodule "everything-claude-code"]
	path = everything-claude-code
	url = https://github.com/affaan-m/everything-claude-code.git
[submodule "caveman"]
	path = caveman
	url = https://github.com/juliusbrussee/caveman
[submodule "andrej-karpathy-skills"]
	path = andrej-karpathy-skills
	url = https://github.com/multica-ai/andrej-karpathy-skills.git
[submodule "mattpocock-skills"]
	path = mattpocock-skills
	url = https://github.com/mattpocock/skills.git
[submodule "context-engineering-kit"]
	path = context-engineering-kit
	url = https://github.com/NeoLabHQ/context-engineering-kit.git
	branch = master
[submodule "i-have-adhd"]
	path = i-have-adhd
	url = https://github.com/ayghri/i-have-adhd
